<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOODENSTEEL FURNITURE,MODERN DINNING TABLES</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<div class="topNev">
    <span class="icon"><img src="/images/assets/icons8-phone-40.png" alt="" width="15px">+381 641370990</span>
    <a href="/about-me">
        <button
            style="padding: 5px 20px; margin-top: 4px; border: none; cursor: pointer; border-radius: 50px; color: grey;">portfolio</button>
    </a>
    <a href="/login">
        <button
            style="padding: 5px 20px; margin-top: 4px; border: none; cursor: pointer; border-radius: 50px; color: grey;">login</button>
    </a>
    <!-- <a href="/cart">
        <button
            style="padding: 5px 20px; margin-top: 4px; border: none; cursor: pointer; border-radius: 50px; color: grey;">cart</button>
    </a> -->
    <a href="/admin">
        <button
            style="padding: 5px 20px; margin-top: 4px; border: none; cursor: pointer; border-radius: 50px; color: grey;">admin</button>
    </a>
    <span class="icon2"><img src="/images/assets/icons8-email-40.png" alt="" width="15px">sales@woodnsteel.rs</span>
    <span class="icon3"><img src="/images/assets/telegram2.png" alt="" width="15px">OUR FAST DELIVERY AND ASSEMBLY
        OF EVERY
        PRODUCT.</span>
    <span class="icon4">Follow us: @woodnsteel.rs</span>

</div>




<%-body%>

<div class="flex">
    <div class="upperFooter">
        <img width="30px" height="40px" src="/images/assets/gift.png" alt="" style="padding-top: 7%;">
        <div class="para">
            <h4>FREE DELIVERY AND ASSEMBLY</h4>
            <p>For orders over RSD 300,000.00.</p>
        </div>
    </div>
    <div class="upperFooter">
        <img width="30px" height="40px" src="/images/assets/payment.png" alt="" style="padding-top: 7%;">
        <div class="para">
            <h4>PAYMENT IN INSTALLMENTS</h4>
            <p>Payment up to 12 installments through Bank Intesa</p>
        </div>
    </div>
    <div class="upperFooter">
        <img width="40px" height="35px" src="/images/assets/icons8-hotline-50.png" alt="" style="padding-top: 7%;">
        <div class="para">
            <h4>VIBER / WHATSAPP</h4>
            <p>Support for all inquiries 24/7</p>
        </div>
    </div>
</div>
<div class="finalFooter">
    <div class="information">
        <p>21000 Novi Sad <br> Schedule your visit</p>
        <div class="number"><b>Phone:</b><span style="padding-left: 4px;">+381 641370990</span></div>
        <p>+381 641370990</p>
        <div class="number"><b>Email:</b><span style="padding-left: 3px;">sales@woodnsteel.rs</span></div>
        <h4>FOLLOW US ALSO HERE</h4>
        <div class="icons">
            <img width="6%" height="47%" src="/images/assets/instagram.png" alt="">
            <img width="6%" height="47%" src="/images/assets/linkedin.png" alt="">
            <img width="6%" height="47%" src="/images/assets/whatsapp.png" alt="">
        </div>
    </div>
    <div class="products">
        <h4>Quick links</h4>
        <a href="#">Furniture</a>
        <a href="#">Brands</a>
        <br>
        <a href="#">New furniture</a>
    </div>
    <div class="shops">
        <h4>Shops</h4>
        <a href="#">Furniture</a>
        <a href="#">Brands</a>
        <br>
        <a href="#">New furniture</a>
    </div>
    <div class="deadlines">
        <h4>Deadlines and complaints</h4>
        <a href="#">Delivery times</a>
        <br>
        <a href="#">Final processing</a>
        <br>
        <a href="#">Our production</a>
        <br>
        <a href="#">Contact</a>
    </div>
    <div class="SUBSCRIBE">
        <h4>SUBSCRIBE</h4>
        <p>Subscribe and expect special discounts and offers by mail.</p>
        <input type="text" placeholder="Email Address">
        <button class="subButton">Subscribe</button>
    </div>
</div>
<div class="last">
    <p style="padding-left: 12%;">© 2023. All Rights Reserved. Ecommerce Software by Wood'n'Steel</p>
    <img width="33%" src="/images/assets/payment_icons_in_launch_demo_footer_eeb5a010-0ec3-412f-a8c4-b809edf6afce.webp"
        alt="">
</div>

<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</body>




</html>