<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOODENSTEEL FURNITURE,MODERN DINNING TABLES</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="topNev">
        <span class="icon"><img src="/images/assets/icons8-phone-40.png" alt="" width="15px">+381 641370990</span>
        <a href="/about-me">
            <button
                style="padding: 5px 20px; margin-top: 4px; border: none; cursor: pointer; border-radius: 50px; color: grey;">portfolio</button>
        </a>
        <span class="icon2"><img src="/images/assets/icons8-email-40.png" alt="" width="15px">sales@woodnsteel.rs</span>
        <span class="icon3"><img src="/images/assets/telegram2.png" alt="" width="15px">OUR FAST DELIVERY AND ASSEMBLY
            OF EVERY
            PRODUCT.</span>
        <span class="icon4">Follow us: @woodnsteel.rs</span>

    </div>

    <div class="hero">
        <img class="mainPic" src="/images/assets/Screenshot_18-9-2024_221637_.jpeg" alt="">
        <div class="navbar">
            <img width="120px" src="/images/assets/logowhite.png" alt="">
            <div class="aTags">
                <a class="anchrtags" href="#">STORE</a>
                <a class="anchrtags" href="#">NEWS</a>
                <a class="anchrtags" href="#">Hospitality furniture</a>
                <a class="anchrtags" href="#">Terms for customers</a>
                <a class="anchrtags" href="#">CONTACT</a>
            </div>
            <div class="iconImgs">
                <img width="33%" src="/images/assets/icons8-search-30.png" alt="">
                <img width="33%" src="/images/assets/icons8-basket-24.png" alt="">
            </div>
        </div>
    </div>
    <div class="hero-text">
        <h1>MODERN SOLID </h1>
        <h1>WOOD FURNITURE</h1>
        <p>A visit to the showroom can be scheduled via email or phone.</p>
        <button class="cta-button">DINING TABLES</button>
    </div>
    </div>
    <div class="scndSection">
        <div class="image1">
            <img width="50%" src="/images/assets/E1230F54-375C-4855-B47A-A709FAAB6A63_950x.webp" alt="">
            <div class="smallBox">
                <h1>DINING TABLES</h1>
                <p>Luxurious dining tables made to measure. They are available to order in several different sizes.</p>
                <button class="cta-button">VIEW THE OFFER</button>
            </div>
            <img class="image2" src="/images/assets/image_1800x1800_df08b0bf-e3df-42d9-b73d-d939b8fe3348.jpg" alt="">
            <div class="smallBox1">
                <h1>DRESSES</h1>
                <p>Chests of drawers made of solid oak and steamed walnut, see the entire offer and order online.</p>
                <button class="cta-button">VIEW THE OFFER</button>
            </div>
        </div>
        <div class="image1">
            <img width="50%"
                src="/images/assets/Modern_Metallic_Finishes__Brushed_Steel_Is_The_New_Black___Habitus_Living.webp"
                alt="">
            <div class="smallBox2">
                <h1>BASIS FOR TABLES</h1>
                <p>We make all bases according to your board dimensions, choose something from the offer.</p>
                <button class="cta-button">VIEW THE OFFER</button>
            </div>
            <img width="47%" src="/images/assets/StudioHENK_Blobtable_002.webp" alt="" style="margin-bottom: 20%;">
            <div class="smallBox3">
                <h1>CLUB TABLES</h1>
                <p>Custom luxury club tables made of oak, steamed walnut or marble.</p>
                <button class="cta-button">VIEW THIS OFFER</button>
            </div>
        </div>
    </div>
    <div class="text2">
        <h1>VISIT OUR INSTAGRAM PROFILE - WOODNSTEEL.RS</h1>
        <p>Dining tables, chests of drawers and other furniture successfully delivered to our clients.</p>
    </div>
    <div class="text3"></div>
    <h1 style="text-align: center;">CLUB TABLES</h1>
    <p style="text-align: center;">Choose one of the modernly designed solid wood club tables that have modern edges to
        fit into the world of minimalism.</p>
    </div>
    <div class="gallery">
        <img width="24%" src="/images/assets/StudioHENK_Blobtable_002.webp" alt="">

        <img width="24%" src="/images/assets/IMG_8612.webp" alt="">
        <img width="24%" src="/images/assets/BE4CDBEE-E36A-4AB2-A3CA-55398CFEB9E9_550x.jpg" alt="">
        <img width="24%" src="/images/assets/IMG_4606.jpg" alt="">
    </div>
    <div class="thirdSection">
        <div class="price">
            <h4>STO SURF CLUB</h4>
            <p>41,000.00 RSD</p>
        </div>
        <div class="price">
            <h4>STO SURF CLUB</h4>
            <p>41,000.00 RSD</p>
        </div>
        <div class="price">
            <h4>STO SURF CLUB</h4>
            <p>41,000.00 RSD</p>
        </div>
        <div class="price">
            <h4>STO SURF CLUB</h4>
            <p>41,000.00 RSD</p>
        </div>
    </div>
    <button class="cta-button1">SEE THE WHOLE OFFER</button>
    <div class="text4">
        <h1 style="text-align: center;">Tessera Mosaic</h1>
        <p style="text-align: center;">The perfectionism and precision of a mechanical engineer and the inclination of
            an architect to artistic creation and architectural skill, united in a perfect combination and created the
            Tessera team that creates unique and authentic wooden mosaics.</p>
    </div>
    <div class="gallery"></div>
    <img width="24%" src="/images/assets/Patrijarh00_750x.webp" alt="">

    <img width="24%" src="/images/assets/VanGog00jpg_750x.webp" alt="">
    <img width="24%" src="/images/assets/NikolaTesla00_750x.webp" alt="">
    <img width="24%" src="/images/assets/Nefertiti00_750x.webp" alt="">
    </div>
    <div class="thirdSection">
        <div class="price">
            <h4>Patrijarh srpski Pavle</h4>
            <p>198,800.00 RSD</p>
        </div>
        <div class="price">
            <h4>Van Gogh</h4>
            <p>118,100.00 RSD</p>
        </div>
        <div class="price">
            <h4>Nikola Tesla</h4>
            <p>89,600.00 RSD</p>
        </div>
        <div class="price">
            <h4>Nefertiti</h4>
            <p>123,700.00 RSD</p>
        </div>
    </div>
    <button class="cta-button1">SEE THE WHOLE OFFER</button>
    <div class="pictures">
        <img width="45%" src="/images/assets/283735924_5197869730274854_3786841600718904276_n.webp" alt="">
        <img width="45%" src="/images/assets/272632410_359561832273966_2036392461422395032_n.webp" alt="">
    </div>
    <div class="boxPic">
        <h1>HOSPITALITY FURNITURE</h1>
        <p style="width: 70%; text-align: center; padding-left: 16%;">Perfect quality and design, guaranteed
            enjoyment...</p>
        <button class="cta-button">BUY NOW</button>
    </div>
    <div class="boxPic2">
        <h1>FIND THE BEST FROM OUR OFFER...</h1>
        <p>Chests of drawers and shelves made of solid wood for long-lasting quality and sophisticated elegance.</p>
        <button class="cta-button">BUY NOW</button>
    </div>
    <div class="text4">
        <h1 style="text-align: center;">NEWS FROM OUR FACTORY AND SHOWROOM</h1>
        <p style="text-align: center;">Follow the blog with us, we inform you about everything that happens on the field
            and with us..</p>
    </div>
    <div class="pictures1"></div>
    <img width="400px" height="186px" src="/images/assets/Screenshot 2024-09-19 232113.png" alt="">
    <img width="400px" height="186px" src="/images/assets/Screenshot_19-9-2024_231855_.jpeg" alt="">
    <img width="400px" height="186px" src="/images/assets/pozidana_hrast_sto.webp" alt="">
    </div>
    <div class="thirdSection">
        <div class="price1">
            <h4>A Unique Piece: How We Created a Dining Table Worth 25,000eur from Olive Root</h4>
            <p>April 1, 2024</p>
        </div>
        <div class="price2">
            <h4>Discover the Secret of Luxury: The Most Valuable Tables on the Market</h4>
            <p>February 9, 2024</p>
        </div>
        <div class="price3">
            <h4>Luxury in the details: Large-format solid wood conference tables</h4>
            <p>February 4, 2024</p>
        </div>
    </div>
    <div class="flex">
        <div class="upperFooter">
            <img width="30px" height="40px" src="/images/assets/gift.png" alt="" style="padding-top: 7%;">
            <div class="para">
                <h4>FREE DELIVERY AND ASSEMBLY</h4>
                <p>For orders over RSD 300,000.00.</p>
            </div>
        </div>
        <div class="upperFooter">
            <img width="30px" height="40px" src="/images/assets/payment.png" alt="" style="padding-top: 7%;">
            <div class="para">
                <h4>PAYMENT IN INSTALLMENTS</h4>
                <p>Payment up to 12 installments through Bank Intesa</p>
            </div>
        </div>
        <div class="upperFooter">
            <img width="40px" height="35px" src="/images/assets/icons8-hotline-50.png" alt="" style="padding-top: 7%;">
            <div class="para">
                <h4>VIBER / WHATSAPP</h4>
                <p>Support for all inquiries 24/7</p>
            </div>
        </div>
    </div>
    <div class="finalFooter">
        <div class="information">
            <p>21000 Novi Sad <br> Schedule your visit</p>
            <div class="number"><b>Phone:</b><span style="padding-left: 4px;">+381 641370990</span></div>
            <p>+381 641370990</p>
            <div class="number"><b>Email:</b><span style="padding-left: 3px;">sales@woodnsteel.rs</span></div>
            <h4>FOLLOW US ALSO HERE</h4>
            <div class="icons">
                <img width="6%" height="47%" src="/images/assets/instagram.png" alt="">
                <img width="6%" height="47%" src="/images/assets/linkedin.png" alt="">
                <img width="6%" height="47%" src="/images/assets/whatsapp.png" alt="">
            </div>
        </div>
        <div class="products">
            <h4>Quick links</h4>
            <a href="#">Furniture</a>
            <a href="#">Brands</a>
            <br>
            <a href="#">New furniture</a>
        </div>
        <div class="shops">
            <h4>Shops</h4>
            <a href="#">Furniture</a>
            <a href="#">Brands</a>
            <br>
            <a href="#">New furniture</a>
        </div>
        <div class="deadlines">
            <h4>Deadlines and complaints</h4>
            <a href="#">Delivery times</a>
            <br>
            <a href="#">Final processing</a>
            <br>
            <a href="#">Our production</a>
            <br>
            <a href="#">Contact</a>
        </div>
        <div class="SUBSCRIBE">
            <h4>SUBSCRIBE</h4>
            <p>Subscribe and expect special discounts and offers by mail.</p>
            <input type="text" placeholder="Email Address">
            <button class="subButton">Subscribe</button>
        </div>
    </div>
    <div class="last">
        <p style="padding-left: 12%;">© 2023. All Rights Reserved. Ecommerce Software by Wood'n'Steel</p>
        <img width="33%"
            src="/images/assets/payment_icons_in_launch_demo_footer_eeb5a010-0ec3-412f-a8c4-b809edf6afce.webp" alt="">
    </div>
</body>

</html>