
    


    <!-- hero start -->
    <div class=" div-heightt d-flex justify-content-between align-items-center"
        style="background-color: black;  color: antiquewhite;">
        <div class="container d-flex flex-column align-items-center position-relative">

            <h1 class="hero-title animate__animated animate__fadeInDown"
                style="font-size: 50pt;  font-family: system-ui,  Arial, sans-serif">I am Husnain Ali
            </h1>
            <h3 class="animate__animated animate__fadeInDown"
                style="font-size: 30pt;  font-family: system-ui,  Arial, sans-serif"> <span class="auto-typed">Software
                    Engineer to be....</span>
            </h3>

        </div>
        <img class="d-block mx-auto float-end shadow-lg" src="/images/profile/IMG_2959.PNG" alt="" width="50%"
            height="100%">
    </div>
    <!-- hero end -->





    <!-- ABOUT START -->
    <div class="container " id="about">
        <div class=" my-5 p-5 row" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ">
            <div class="container col" style="background-color: beige;">
                <div class="card my-3" style="max-width: 540px; background-color: #b0e0e6;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/images/profile/Untitled design.png" class="img-fluid rounded-start pt-3 ps-3"
                                alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body lh-base ">
                                <p class="card-title"><strong>Name: </strong>Husnian Ali</p>
                                <p class="card-title "><strong>Profile: </strong>Front-End Web developer</p>
                                <p class="card-title "><strong>Email: </strong>alyhusnaiin@gmail.com </p>
                                <p class="card-title "><strong>Phone: </strong>+923078203344</p>
                                <p class="card-title "><strong>linkedin: </strong>husnainali11</p>

                            </div>
                        </div>
                    </div>
                </div>

                <p class=" fs-3">SKILL</p>

                <span>HTML</span>
                <span class="pull-right">80%</span>
                <div class="progress my-2 " style="width: 100%;">
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated " role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>


                <span>CSS</span>
                <span class="pull-right">70%</span>
                <div class="progress my-2 " style="width: 100%;">
                    <div class="progress-bar  progress-bar-striped progress-bar-animated " role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                </div>


                <span>JS</span>
                <span class="pull-right">80%</span>
                <div class="progress my-2 " style="width: 100%;">
                    <div class="progress-bar  bg-warning progress-bar-striped progress-bar-animated " role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
                </div>


                <span>REACT</span>
                <span class="pull-right">60%</span>
                <div class="progress my-2 " style="width: 100%;">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated " role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                </div>

            </div>


            <div class="container ms-3 col">
                <h2><u class="text-primary">About me</u> </h2>
                <p class="fs-5">As a software engineering student, I've honed my skills in HTML, CSS, and JavaScript,
                    laying
                    the
                    groundwork for crafting
                    visually appealing user interfaces.I can create dynamic web applications
                    that seamlessly
                    respond to user interactions.</p>
                <p class="fs-5">In my portfolio, you'll find a diverse range of projects showcasing my creativity and
                    technical prowess.
                    I've explored various aspects of web
                    development. Notably,
                    I've also developed a YouTube clone, demonstrating my ability to implement complex functionalities
                    while
                    prioritizing
                    user experience.</p>
                <p class="fs-5">Motivated by a passion for innovation, I continually seek to expand my knowledge and
                    skills
                    in front-end
                    development.</p>
            </div>

        </div>

    </div>
    <!-- ABOUT END -->

    <!-- Services start -->
    <div class="px-4 py-2 my-4 text-center" id="services">
        <h1 class="display-5 fw-bold">Services</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-1">Discover tailored solutions crafted to elevate your digital presence and streamline
                your operations with our
                comprehensive range of services</p>
        </div>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top"
                            src="/images/services/annie-spratt-QckxruozjRg-unsplash.jpg" width="100%" height="225">
                        <div class="card-body">
                            <h3 class="text-primary" style="text-align: center;">WEB DEVELOPMENT</h3>
                            <p class="card-text">Unlock the potential of your online endeavors with our bespoke web
                                development services, where innovation meets
                                functionality to create seamless user experiences and drive tangible results for your
                                business.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top"
                            src="/images/services/ben-kolde-Ajcipx1VDXI-unsplash.jpg" width="100%" height="225">
                        <div class="card-body">
                            <h3 class="text-primary" style="text-align: center;">RESPONSIVE DESIGN</h3>
                            <p class="card-text">Experience seamless adaptability across all devices with our responsive
                                design solutions, ensuring your website looks
                                and performs flawlessly whether accessed on desktops, laptops, tablets, or smartphones.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top"
                            src="/images/services/campaign-creators-yktK2qaiVHI-unsplash.jpg" width="100%" height="225">
                        <div class="card-body">
                            <h3 class="text-primary" style="text-align: center;">MARKETING SERVICES</h3>
                            <p class="card-text">Elevate your brand's visibility and reach new heights with our
                                comprehensive marketing services, tailored to effectively
                                target your audience, drive engagement, and maximize your online presence.
                            </p>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top"
                            src="/images/services/online-banking-7541521_1920.jpg" width="100%" height="225">

                        <div class="card-body">
                            <h3 class="text-primary" class="text-primary" style="text-align: center;">BLOCK CHAIN</h3>
                            <p class="card-text">Explore the cutting-edge world of blockchain technology with our
                                specialized services, offering innovative solutions to
                                enhance security, transparency, and efficiency across various industries.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top"
                            src="/images/services/cloud-computing-2153286_1280.png" width="100%" height="225" <div
                            class="card-body">
                        <h3 class="text-primary" style="text-align: center;">CLOUD COMPUTING</h3>
                        <p class="card-text">Unlock the power of scalability, flexibility, and efficiency with our
                            cloud computing solutions, tailored to optimize
                            your business operations, streamline processes, and drive innovation in the digital age.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top"
                        src="/images/services/etienne-girardet-CxTCcjUo2hM-unsplash.jpg" width="100%" height="225">
                    <div class="card-body">
                        <h3 class="text-primary" style="text-align: center;">CYBER SECURITY</h3>
                        <p class="card-text">Safeguard your digital assets and protect against evolving threats with
                            our robust cybersecurity solutions, meticulously
                            designed to fortify your defenses, mitigate risks, and ensure the integrity of your
                            sensitive data
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- Services end -->


    <!-- Portfolio start -->
    <div class="container">
        <div class="text-center my-4">
            <h1>My Projects</h1>
            <button id="getProjectsBtn" class="btn btn-primary">Get Projects</button>
        </div>
        <div class="row" id="projectsContainer"></div>
    </div>

    <!-- Project Details Modal -->
    <div class="modal fade" id="projectDetailsModal" tabindex="-1" aria-labelledby="projectDetailsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- Change to modal-lg for larger size -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectDetailsModalLabel">Project Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="projectDetailsContent">
                    <!-- Project details will be inserted here -->
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio ends -->



    <!-- Clients revies  start-->
    <div class="parallax-header w-100" id="reviews">
        <div class="container w-100">
            <div class="header-cont5ent d-flex justify-content-between align-items-center py-5 w-100">

                <div class=" clie ">
                    <img src="/images/icons/best-customer-experience.png" width="50%" class="d-block mx-auto">
                    <p class="fs-3 fw-bold text-light">100</p>
                    <p>WORKS COMPLETED</p>
                </div>
                <div class="clie">
                    <img src="/images/icons/experience.png" width="50%" class="d-block mx-auto">
                    <p class="fs-3 fw-bold text-light">3</p>
                    <p>YEARS OF EXPERIENCE</p>
                </div>
                <div class=" clie">
                    <img src="/images/icons/customer-engagement.png" width="50%" class="d-block mx-auto">
                    <p class="fs-3 fw-bold text-light">45</p>
                    <p>TOTAL CLIENTS</p>
                </div>
                <div class=" clie">
                    <img src="/images/icons/trophy.png" width="50%" class="d-block mx-auto">
                    <p class="fs-3 fw-bold text-light">100</p>
                    <p>AWARD WON</p>
                </div>

            </div>
        </div>
    </div>
    <!-- Clients reviews ends -->













    <!-- message form start -->
    <div class=" p-5" id="contact">
        <div class="container justify-content-center bg-light mt-5">
            <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt5 py-4 route">
                <div class="overlay-mf"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="contact-mf">
                                <div id="contact" class="box-shadow-full">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="title-box-2">
                                                <h5 class="title-left  fs-2">
                                                    Send Message Us
                                                </h5>
                                            </div>
                                            <div>
                                                <form action="forms/contact.php" method="post" role="form"
                                                    class="php-email-form">
                                                    <div class="row">
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <input type="text" name="name" class="form-control"
                                                                    id="name" placeholder="Your Name" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <input type="email" class="form-control" name="email"
                                                                    id="email" placeholder="Your Email" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 mb-3">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="subject"
                                                                    id="subject" placeholder="Subject" required="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <textarea class="form-control" name="message" rows="5"
                                                                    placeholder="Message" required=""></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 text-center my-3">

                                                        </div>
                                                        <div class="col-md-12 text-center">
                                                            <button type="submit"
                                                                class="button button-a button-big button-rouded button36">Send
                                                                Message</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="title-box-2 pt-4 pt-md-0">
                                                <h5 class="title-left fs-2">
                                                    Get in Touch
                                                </h5>
                                            </div>
                                            <div class="more-info">
                                                <p class="lead">
                                                    Ready to turn your vision into reality? I'm here to help! Whether
                                                    you have questions, ideas, or just want to chat, I'm
                                                    eager to hear from you. Get in touch today, and let's embark on this
                                                    journey together to create something amazing.
                                                </p>
                                                <ul class="list-ico">
                                                    <li><span class="bi bi-geo-alt"></span> 3 Allah dad colony ST no 3,
                                                        Punjab,
                                                        56300</li>
                                                    <li><span class="bi bi-phone"></span> (92) 3078203344</li>
                                                    <li><span class="bi bi-envelope"></span> alyhusnaiin@gmail.com</li>
                                                </ul>
                                            </div>
                                            <div class="socials">
                                                <ul>

                                                    <a href="#">
                                                        <span class="ico-circle mx-4">
                                                            <i class="fa-brands fa-facebook fa-3x"></i>
                                                        </span>
                                                    </a>


                                                    <a href="#">
                                                        <span class="ico-circle mx-4 ">
                                                            <i class="fa-brands fa-square-instagram fa-3x"></i>
                                                        </span>
                                                    </a>


                                                    <a href="#">
                                                        <span class="ico-circle mx-4">
                                                            <i class="fa-brands fa-twitter fa-3x"></i>
                                                        </span>
                                                    </a>

                                                    <a href="#">
                                                        <span class="ico-circle mx-4">
                                                            <i class="fa-brands fa-linkedin fa-3x"></i>
                                                        </span>
                                                    </a>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- message form ends -->


   



   



